<a href="/bookmarks">
<button type="button">View Bookmarks</button>
</a>

<form action='/add_bookmark' method='post'>

<label for ="url">Add Bookmark: Enter URL</label>
<input type='text' name='url' id='url'>
<input type='submit' value='Submit'>

</form>