<h1> Editing Bookmark <%= @bookmark.title %> </h1>
<form action='/bookmarks/<%= @bookmark_id %>' method='post'>
<label for ="url">Url:</label>
<input type='text' name='url' id='url' value="<%= @bookmark.url %>">
<label for ="title">Title</label>
<input type='text' name='title' id='title' value ="<%= @bookmark.title %>">
<input type="hidden" name="_method" value="PATCH"/>
<input type='submit' value='Submit'>
</form>
