<h1>Here are your bookmarks</h1>
<ul>
<% @bookmark_list.each do |bookmark| %>
  <li>
    <a href ="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
        <input type="submit" value="Edit"/>
      </form>
    </li>
  <% end %>
</ul>
<a href="/bookmarks/new">Add a bookmark</a>
<% if session[:fake] == true %>That's not a valid url<% end %>
